@{
  Layout = "_Layout";
}

@using System.Security.Claims

@model IEnumerable<SweetSavory.Models.Treat>

<h2>Here is your list of Treats!, @User.Identity.Name</h2>
<hr />
@if (Model.Any())
{
    <ul>
        @foreach (var listTreat in Model)
        {
            <li>@Html.ActionLink($"{listTreat.Description}", "Details", new { id = listTreat.TreatId })</li>
        }
    </ul>
}
else
{
    <p>No tasks have been added yet!</p>
}

@Html.ActionLink("Create new", "Create")
